.img{
    
    background-image: url("pexels-rachel-xiao-772429.jpg");
    background-repeat: no-repeat;
    
    background-size : cover;
    background-position : center;
    height:900px;
    width:1600px;    
}
.Al{
    margin-top: -670px;
}